<header>
    <div class="cabecera">
        <span class="btn-menu">
            <i class="fa fa-bars"></i>
        </span>
        <img class="img-fluid" src="assets/recursos/logoencabezado.jpg" alt="">
    </div>
    <nav class="menu">
        <label class="logo">BackLog</label>
        <ul class="menu-items">
            <li class="active"><a routerLink="/">Home</a></li>
            <li><a routerLink="backLog/maps">Maps</a></li>
            <li><a routerLink="backLog/graphics">Graphics</a></li>
            <li><a href="#">A1</a></li>
            <li><a href="#">C2</a></li>
            <li><a href="#">V3</a></li>
        </ul>
    </nav>
</header>